:root {
  --primary-color: #116a7b;
  --secondary-color: #cdc2ae;
  --background-color: #ece5c7;
  --elements-color: #c2dedc;
  --heading-font-family: "Red Hat Display", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}

/*homepage*/

.nav-link.active {
  color: var(--primary-color) !important;
  font-weight: bold;
}

.nav-link {
  padding: 0 15px;
}

.nav-link:hover {
  color: var(--elements-color);
  font-weight: bold;
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  color: var(--primary-color);
  font-size: 36px;
  line-height: 1.5;

}

p {
  font-weight: normal;
  font-size: 20px;
}

.hero {
  background: var(--background-color);
  padding: 100px 20px 50px 20px;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 20px;
  line-height: 1.5;
}

.photo {
  border-radius: 5px;
  border: 1px solid black;
  object-fit: contain;
  width: 100%;
  height: auto;
  max-width: 400px;
}

.btn-branding {
  background: var(--primary-color);
  color: var(--background-color);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  line-height: 30px;
  padding: 10px 30px;
  font-size: 20px;
  font-family: var(--heading-font-family);
}

.btn-branding:hover {
  background: var(--background-color);
  color: var(--primary-color);
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid var(--primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
}

.icons,
.social-links a {
  margin-top: 50px;
  display: flex;
  text-decoration: none;
  justify-content: space-evenly;
  color: var(--primary-color);
  font-size: 50px;
}

.icons :hover {
  color: var(--elements-color);
  cursor: pointer;
}

/*WORK*/

.hero-work {
  background: var(--background-color);
  padding: 50px 20px 30px 20px;
}

.hero-work h1 {
  margin-top: 40px;
}

.hero-work h2 {
  color: var(--primary-color);
  font-size: 25px;
}

.hero-work h3 {
  font-family: var(--default-font-family);
  font-size: 20px;
  line-height: 1.5;
}

.p-work {
  font-weight: normal;
}

.project-description {
  padding: 120px 60px;
}

img {
  max-width: 100%;
}

.btn-branding-outline {
  background: var(--background-color);
  color: var(--primary-color);
  border-radius: 5px;
  border: 2px solid var(--primary-color);
  box-shadow: 0px, 4px, 4px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
}

.btn-branding-outline:hover {
  background: var(--primary-color);
  color: var(--background-color);
}

@media (max-width: 900px) {
  .project-description {
    padding: 10px;
    margin-left: 10px;
    height: 300px;
    width: 300px;
    text-align: justify;
  }

  .hero-work h1 {
    margin-left: 10px;
    padding: 10px;
  }

  .hero-work h3 {
    font-size: 17px;
    padding: 10px;
    margin-left: 10px;
    text-align: justify;
  }

  .p-work {
    font-size: 18px;
  }
}

/*ABOUT ME*/

.paragraph-about {
  text-align: justify;
}


.about-icons {
  color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 50px;
}

.about-icons :hover,
.mail-content a :hover,
.mail-content .email-link:hover {
  color: var(--elements-color);
  cursor: pointer;
}

.tv-channel,
.film-studio {
  text-decoration: none;
  text-transform: none;
  color: var(--secondary-color);
}

.tv-channel:hover,
.film-studio:hover {
  color: var(--elements-color);
}

.resume a {
  font-weight: 100;
  font-size: 18px;
}


/*CONTACT*/

.mail-content a {
  color: var(--primary-color);
  text-decoration: none;
  text-transform: none;
}


footer p {
  margin: 0;
  padding-top: 10px;
  font-size: 12px;
}